:host {
  font-size: 8px;
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

.hide-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    background-color: rgba(204, 204, 204, 0.46);
    border: 1px solid black;
  }
}

td {
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  p {
    margin: 0;
  }
}

// .string-field {
// }

.input-field {
  input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 2em;
  }
}

.empty-field {
  input {
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

// .main-field {
// }

.question-field {
  p {
    font-weight: bold;
    font-style: italic;
  }
}

// .outTable-field {
// }

.outTable-field p,
.main-field p,
.checkbox-field mat-select {
  border: 2px solid #ccc;
  border-radius: 3px;
}

mat-option {
  font-weight: bold;
  font-size: 2em;
}

mat-select {
  font-size: 2em;
}

.red-color {
  background-color: rgba(255, 0, 0, 0.5);
}

.grey-color {
  background-color: rgba(204, 204, 204, 0.5);
}

.green-color {
  background-color: rgba(0, 128, 0, 0.5);
}

.reset-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.player-select-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-label {
    font-size: 1.5em;
  }

  button {
    margin-top: 20px;
    max-width: 50%;
  }
}
