<mat-card class="main">
    <div>
        <mat-card-title-group>
            <mat-card-title>
                <mat-icon>settings</mat-icon>
                Покорение марса
            </mat-card-title>
            <button mat-icon-button
                    (click)='addCountNumber()'>
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-title-group>
        <div class='form-list'>
            <mat-form-field *ngFor="let control of formArray.controls; index as i">
                <div class='input-form'>
                    <input type="number"
                           matInput
                           autocomplete="off"
                           [formControl]='getControl(i)'>
                    <mat-icon (click)='deleteCountNumber(i)'>delete</mat-icon>
                </div>
            </mat-form-field>
        </div>
    </div>
</mat-card>