:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  max-width: 350px;
  width: 100%;
  margin: 8px 4px 8px 4px;
  box-sizing: border-box;
}

mat-card-title {
  font-size: 1.2em;
}

button.mat-icon-button {
  height: auto;
}

mat-card-content {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

::ng-deep mat-card-title-group {
  min-height: 40px;

  > div {
    display: flex;
    align-items: center;
  }
}
